@{
    ViewBag.Title = "Clients";
    ViewBag.Fun = "typeWriter3()";
}


<header class="header-execution">
    <div class="bgstyle">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 id="typetext" class="text-center text-uppercase txt-fff"></h1>
                </div>
            </div>
        </div>
    </div>
</header>
<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h4 class="text-uppercase txt-blue">Municipalities in West Bengal</h4>
                <div class="card-block">
                    <p class="text-center text-uppercase txt-fff">
                        <i class="fa fa-map-marker txt-fff"></i> Maheshtala
                    </p>
                </div>
                <div class="card-block">
                    <p class="text-center text-uppercase txt-fff">
                        <i class="fa fa-map-marker txt-fff"></i> South 24 Parganas
                    </p>
                </div>
                <div class="card-block">
                    <p class="text-center text-uppercase txt-fff">
                        <i class="fa fa-map-marker txt-fff"></i> Bidhannagar
                    </p>
                </div>
                <div class="card-block">
                    <p class="text-center text-uppercase txt-fff">
                        <i class="fa fa-map-marker txt-fff"></i> Madhyamgram
                    </p>
                </div>
                <div class="card-block">
                    <p class="text-center text-uppercase txt-fff">
                        <i class="fa fa-map-marker txt-fff"></i> Ranaghat
                    </p>
                </div>
                <div class="card-block">
                    <p class="text-center text-uppercase txt-fff">
                        <i class="fa fa-map-marker txt-fff"></i> Joynagar
                    </p>
                </div>
                <div class="card-block">
                    <p class="text-center text-uppercase txt-fff">
                        <i class="fa fa-map-marker txt-fff"></i> Santipur
                    </p>
                </div>
                <div class="card-block">
                    <p class="text-center text-uppercase txt-fff">
                        <i class="fa fa-map-marker txt-fff"></i> Nalhati
                    </p>
                </div>
                <div class="card-block">
                    <p class="text-center text-uppercase txt-fff">
                        <i class="fa fa-map-marker txt-fff"></i> Mathabhanga
                    </p>
                </div>
                <div class="card-block">
                    <p class="text-center text-uppercase txt-fff">
                        <i class="fa fa-map-marker txt-fff"></i> Durgapur
                    </p>
                </div>
                <div class="card-block">
                    <p class="text-center text-uppercase txt-fff">
                        <i class="fa fa-map-marker txt-fff"></i> West Midnapore
                    </p>
                </div>
                <div class="card-block">
                    <p class="text-center text-uppercase txt-fff">
                        <i class="fa fa-map-marker txt-fff"></i> Nabadwip
                    </p>
                </div>
                <div class="card-block">
                    <p class="text-center text-uppercase txt-fff">
                        <i class="fa fa-map-marker txt-fff"></i> Rampurhat
                    </p>
                </div>
                <div class="card-block">
                    <p class="text-center text-uppercase txt-fff">
                        <i class="fa fa-map-marker txt-fff"></i> Bhatpara
                    </p>
                </div>
                <div class="card-block">
                    <p class="text-center text-uppercase txt-fff">
                        <i class="fa fa-map-marker txt-fff"></i> Halisahar
                    </p>
                </div>
                <div class="card-block">
                    <p class="text-center text-uppercase txt-fff">
                        <i class="fa fa-map-marker txt-fff"></i> Rajpur-Sonarpur
                    </p>
                </div>
                <div class="card-block">
                    <p class="text-center text-uppercase txt-fff">
                        <i class="fa fa-map-marker txt-fff"></i> Rajarhat-Gopalpur
                    </p>
                </div>
                <div class="card-block">
                    <p class="text-center text-uppercase txt-fff">
                        <i class="fa fa-map-marker txt-fff"></i> Jhalda
                    </p>
                </div>
                <div class="card-block">
                    <p class="text-center text-uppercase txt-fff">
                        <i class="fa fa-map-marker txt-fff"></i> Suri
                    </p>
                </div>
                <h4 class="text-uppercase txt-blue">District Magistrate Office in West Bengal</h4>
                <div class="card-block">
                    <p class="text-center text-uppercase txt-fff">
                        <i class="fa fa-map-marker txt-fff"></i> Alipore (South 24 Parganas)
                    </p>
                </div>
                <div class="card-block">
                    <p class="text-center text-uppercase txt-fff">
                        <i class="fa fa-map-marker txt-fff"></i> Hooghly (Chinsura)
                    </p>
                </div>
                <div class="card-block">
                    <p class="text-center text-uppercase txt-fff">
                        <i class="fa fa-map-marker txt-fff"></i> Bankura
                    </p>
                </div>
                <div class="card-block">
                    <p class="text-center text-uppercase txt-fff">
                        <i class="fa fa-map-marker txt-fff"></i> West Midnapore
                    </p>
                </div>
                <h4 class="text-uppercase txt-blue">Government offices (States & Central)</h4>
                <div class="card-block">
                    <p class="text-center text-uppercase txt-fff">
                        <i class="fa fa-briefcase txt-fff"></i> Visva-Bharati Central Library
                    </p>
                </div>
                <div class="card-block">
                    <p class="text-center text-uppercase txt-fff">
                        <i class="fa fa-briefcase txt-fff"></i> Central Library of Geological Survey of India (Eastern (Kolkata)
                    </p>
                </div>
                <div class="card-block">
                    <p class="text-center text-uppercase txt-fff">
                        <i class="fa fa-briefcase txt-fff"></i> Central Library of Geological Survey of India Western Region (Jaipur)
                    </p>
                </div>
                <div class="card-block">
                    <p class="text-center text-uppercase txt-fff">
                        <i class="fa fa-briefcase txt-fff"></i> Central Library of Geological Survey of India Central Headquarter (Kolkata)
                    </p>
                </div>
                <div class="card-block">
                    <p class="text-center text-uppercase txt-fff">
                        <i class="fa fa-briefcase txt-fff"></i> Indian Science & News Association (Kolkata)
                    </p>
                </div>
                <div class="card-block">
                    <p class="text-center text-uppercase txt-fff">
                        <i class="fa fa-briefcase txt-fff"></i> Pt. Sundarlal Sharma Central Library (Raipur)
                    </p>
                </div>
                <div class="card-block">
                    <p class="text-center text-uppercase txt-fff">
                        <i class="fa fa-briefcase txt-fff"></i> Ministry of home affairs (Kolkata, Mumbai)
                    </p>
                </div>
                <div class="card-block">
                    <p class="text-center text-uppercase txt-fff">
                        <i class="fa fa-briefcase txt-fff"></i> Damodar Valley Corporation (Kolkata)
                    </p>
                </div>
                <div class="card-block">
                    <p class="text-center text-uppercase txt-fff">
                        <i class="fa fa-briefcase txt-fff"></i> Directorate of Registration on Stamp Revenue Office (West Midnapore, Durgapur,
                        Uluberia, Bagnan, Dumjur, Kakdwip)
                    </p>
                </div>
                <h4 class="text-uppercase txt-blue">Eminent Corporates</h4>
                <div class="card-block">
                    <p class="text-center text-uppercase txt-fff">
                        <i class="fa fa-briefcase txt-fff"></i> Hewlett Packard India Ltd. (Sarjapur, Bangalore)
                    </p>
                </div>
                <div class="card-block">
                    <p class="text-center text-uppercase txt-fff">
                        <i class="fa fa-briefcase txt-fff"></i> ICICI Lombard (Kolkata)
                    </p>
                </div>
                <div class="card-block">
                    <p class="text-center text-uppercase txt-fff">
                        <i class="fa fa-briefcase txt-fff"></i> Infotech Geospcial India Ltd. (Hyderabad)
                    </p>
                </div>
                <div class="card-block">
                    <p class="text-center text-uppercase txt-fff">
                        <i class="fa fa-briefcase txt-fff"></i> Tata Consultancy Ltd. (Kolkata)
                    </p>
                </div>
                <div class="card-block">
                    <p class="text-center text-uppercase txt-fff">
                        <i class="fa fa-briefcase txt-fff"></i> Nevaeh Technology
                    </p>
                </div>
                <div class="card-block">
                    <p class="text-center text-uppercase txt-fff">
                        <i class="fa fa-briefcase txt-fff"></i> CBSL Group, New Delhi
                    </p>
                </div>
                <div class="card-block">
                    <p class="text-center text-uppercase txt-fff">
                        <i class="fa fa-briefcase txt-fff"></i> Global Business Solutions, Hyderabad
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>