@{
    ViewBag.Title = "Contact";
    ViewBag.Fun = "typeWriter4()";
}
<header class="header-execution">
    <div class="bgstyle">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 id="typetext" class="text-center text-uppercase txt-fff"></h1>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="parallax-about" id="cform">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="text-center txt-blue text-uppercase">SEND A Quick MESSAGE <br />TO Reach You</h1>
            </div>
            <div class="col-md-3 col-sm-2 col-xs-12"></div>
            <div class="col-md-6 col-sm-8 col-xs-12">
                <hr />
                <form>
                    <div class="col-sm-4 col-xs-12">
                        <div class="form-group">
                            <!-- <label for="LastName">Last Name</label> -->
                            <select class="form-control">
                                <option>Mr</option>
                                <option>Mrs</option>
                            </select>
                        </div>
                    </div>
                    <div class=" col-sm-4 col-xs-12">
                        <div class="form-group">
                            <!-- <label for="FirstName">First Name</label> -->
                            <input type="text" class="form-control" id="FirstName" placeholder="First Name">
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <div class="form-group">
                            <!-- <label for="LastName">Last Name</label> -->
                            <input type="text" class="form-control" id="LastName" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group">
                            <!-- <label for="ContactNumber">Contact Number</label> -->
                            <input type="tel" class="form-control" id="ContactNumber" placeholder="Contact Number">
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group">
                            <!-- <label for="InputEmail">Email address</label> -->
                            <input type="email" class="form-control" id="InputEmail" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group">
                            <!-- <label for="YourMessage">Your Message</label> -->
                            <textarea class="form-control" rows="5" placeholder="Your Message"></textarea>
                        </div>
                        <hr />
                        <button type="submit" class="btn btn-block btn-info center-block">Submit</button>
                    </div>
                </form>
            </div>
            <div class="col-md-3 col-sm-2 col-xs-12"></div>
        </div>
    </div>
</section>