@{
    ViewBag.Title = "Executions";
    ViewBag.Fun = "typeWriter2()";
}

<header class="header-execution">
    <div class="bgstyle">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 id="typetext" class="text-center text-uppercase txt-fff"></h1>
                </div>
            </div>
        </div>
    </div>
</header>
<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="table-responsive mid-block">
                    <table class="table table-bordered">
                        <thead>
                            <tr class="bg-qb">
                                <th>Name of the Client</th>
                                <th>Nature of Works</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Geological Survey of India, CHQ., Kolkata</td>
                                <td>Document digitization (incl. cleaning, washing & retouching) Metadata creation and uploading PDFs in the GSI Portal.</td>
                            </tr>
                            <tr class="active">
                                <td>Geological Survey of India, ERO, Kolkata with the association of M/s. Global Business Systems, Hyderabad</td>
                                <td>Document digitization (incl. cleaning, washing & retouching) Metadata creation and uploading PDFs in the GSI Portal</td>
                            </tr>
                            <tr class="info">
                                <td>Custodian of Enemy Property, Ministry of Home Affairs, Govt. of India (Kolkata division only)</td>
                                <td>Document digitization (incl. cleaning, washing & retouching) Metadata creation and uploading PDFs in the CPEI Portal</td>
                            </tr>
                            <tr>
                                <td>Nevaeh Technologies (P) Ltd., Kolkata</td>
                                <td>Document digitization and data seeding for IGR Project</td>
                            </tr>
                            <tr class="info">
                                <td>Custodian of Enemy Property, Ministry of Home Affairs, Govt. of India (Mumbai, New Delhi & Lucknow)</td>
                                <td>Document digitization (incl. cleaning, washing & retouching) Metadata creation and uploading PDFs in the GSI Portal</td>
                            </tr>
                            <tr class="active">
                                <td>Geological Survey of India, ERO associated with M/s. Cyient Infosystems Ltd.</td>
                                <td>Document digitization (incl. cleaning, washing & retouching) Metadata creation and uploading PDFs in the Clients Portal</td>
                            </tr>
                            <tr class="info">
                                <td>Balmer Lawrie & Co. Ltd. (Kolkata & Mumbai)</td>
                                <td>Document digitization (incl. cleaning, washing & retouching) Metadata creation and uploading PDFs in the Clients Portal </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>